*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
tr
{
    margin-top: 10px;
    margin-bottom: 10px;
}
th{
    min-width: 100px;
    text-align: center;
}
td{
    text-align: center;
}
.colors{
    width: 50px;
    height: 50px;
    border-radius: 10%;

}
.colorparent{
    position: relative;
}
.colorparent>div{
    margin-left: 50%;
    transform: translateX(-50%);
    background-size:cover;
    background-position: center center;
}

.btn{
    border: 1px solid #a1615d;
    color:  #a1615d;
    background: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.btninvoice{
    border-color: #6ea2f5;
    color: #6ea2f5;
}

.editform{
    position: absolute;
    background-color: rgba(50,50,50,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.innerflex{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
}
.menu{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #3b3b3b;
    margin-bottom: 30px;
    padding: 30px;
}
.menu>a{
    margin: 10px 50px;
}
.main{
    display: flex;
    height: 100%;
}
.left{
    height: 100%;
    width: 20%;
    border-right: 3px solid #3b3b3b;
}
.right{
    height: 100%;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}